# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
.firebase/
firebase-debug.log

# Secret files
backend/config/firebase-service-account.json
resturant-4df6e-firebase-adminsdk-fbsvc-4cccdfc99d.json
